.rtp {
  color: rgb(197, 197, 197);
}
.rtpBack {
  display: flex;
  justify-content: center;
  background-color: rgba(100, 100, 100, 0.25);
  box-shadow: 1em 0 0.4em rgba(0, 0, 0, 0.3), 1em 0.4em 0.4em rgba(0, 0, 0, 0.5);
  /* 0 0 10px  rgba(0,0,0,0.5), 0 0 15px  rgba(0,0,0,0.5), 0 0 25px  darkgrey; */
  border-radius: 5px;
}
h1 {
  color: rgb(100, 100, 100);
  width: 100vw;
  margin: 50px;
}
.h1D {
  display: flex;
  width: 100vw;
  /* background-color: rgba(0, 0, 0, 0.5); */
}
ul {
  height: 70vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
li {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  margin: 5px;
  margin-left: 100px;
}
a {
  color: rgb(197, 197, 197);
}
