.addPhotoBtnDiv {
  display: flex;
  align-items: center;
}
/* .addPhotoBtn {
  height: 30px;
  margin-left: 50px;
  text-decoration: none;
  color: whitesmoke;
  font-family: cursive;
  background-color: rgba(0, 0, 0, 0.61);
  border-radius: 5px;
  width: 100px;
  display: flex;
  justify-content: center;
} */
.addPhotoBtn:hover {
  color: rgba(0, 0, 0, 0.61);
  background-color: whitesmoke;
}
.imgClass {
  width: 200px;
  height: 150px;
  /* margin: 25px;

  box-shadow: 0 0 25px 15px rgb(0 0 0 / 0.5); */
}
.imgClass:hover {
  transform: translate3D(0, -1px, 0) scale(1.5);
  /* box-shadow: 8px 28px 50px rgba(39, 44, 49, 0.07),
    1px 6px 12px rgba(39, 44, 49, 0.04); */
  transition: all 0.4s ease;
  border: none;
}
.feedDiv {
  /* margin-top: 10px; */
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 60vw;
  height: 65vh;
  overflow: scroll;
  overflow-x: hidden;
}

.del-photo-btn {
  border: none;
  background-color: transparent;
  color: #ebd39d;
  border-radius: 5px;
}
.del-photo-btn:hover {
  cursor: pointer;
  color: #f4eea9;
}
.imgDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.61);
}
.pNcDiv {
  display: grid;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.createCommentDiv {
  width: 30vw;
  height: 55vh;
  background-color: rgba(244, 238, 169, 0.61);
  border-radius: 10px;
  height: 70vh;
}
#feedMain {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
  justify-content: space-around;
}
#edDiv {
  display: flex;
  justify-content: center;
}
#feedBackground {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 15px;
}
.commentDiv{
  background-color: rgba(0, 0, 0, 0.61);
  margin: 5px;
  color: white;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
