.navOutterBox {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  background-color: transparent;
  border-radius: 5px;
}
.navListBox {
  margin-right: 2vw;
  margin-left: 2vw;
  background-color: rgba(0, 0, 0, 0.61);
  border-radius: 10px;
  block-size: fit-content;
}
ul {
  list-style-type: none;
}
li {
  width: 86px;
}

.navElementBox {
  text-decoration: none;
  color: white;
  font-family: cursive;
  font-size: small;
  display: flex;
  justify-content: center;
}
.flareWord1 {
  font-size: 50px;
  font-family: cursive;
  margin-left: 50px;
  color: olive;
  text-decoration: underline #ebd39d;
  /* box-shadow: 0 0 10px white; */
  text-shadow: 0 0 10px white;
}
.flareWord2 {
  font-size: 50px;
  font-family: cursive;
  color: #ebd39d;
  text-shadow: 0 0 10px white;
}
.flareWord3 {
  font-size: 50px;
  font-family: cursive;
  margin-right: 50px;
  color: olive;
  text-decoration: underline #ebd39d;
  text-shadow: 0 0 10px white;
}
.flareWordContainer{
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  width: fit-content;
  border-radius: 10px;
}
